<div class="wrapper">
  <div class="content">

    <app-user-menu
      (title)="title = $event"
      (addBorrowBook)="addBorrowBook = $event"></app-user-menu>

    <app-user-content class="window"
                      [title]="title"></app-user-content>



    <ng-container *ngIf="userFlag === 'librarian'">
      <app-popup-borrowbook
        [checkClickAdd]="addBorrowBook"

      ></app-popup-borrowbook>
    </ng-container>
<!--    (stateClickAdd)="addBorrowBook = $event"-->

  </div>
</div>
